$def with (sensors)

$var title: Sensor Charts

<div class="page-header">
  <h1>Live SmartThings Sensor Values <small>and HTM anomaly scores</small></h1>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h2 class="panel-title" id="top">About the Charts</h2>
            </div>
            <div class="col-md-10">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Charts
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    $for name in sensors:
                        <li><a href="#${name}">${name}</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p>
            Anomaly values are plotted on the secondary Y axis on the right. Door open/close values are either <code>0</code> or <code>1</code>. I don't understand the acceleration data yet. Data is coming from a <a href="https://github.com/rhyolight/smartthings-apps/blob/master/http-poster.groovy">SmartThings app</a>. It is being send via HTTP to <a href="https://github.com/numenta/nupic">NuPIC</a> running behind a <a href="https://github.com/nupic-community/hitc">REST API</a>. Sensor values and HTM results are saved to a time-series database called <a href="https://docs.influxdata.com/influxdb/v0.9/concepts/key_concepts/">InfluxDB</a>.
        </p>
    </div>
</div>

<div id="chart-container">

    $for name in sensors:
        <div class="panel panel-info" id="${name}-container">
          <div class="panel-heading">
            <h3 class="panel-title">
                <a href="#${name}">${name}</a>
                <small>
                    <a href="/chart/${name}">(see alone)</a>
                </small>
            </h3>
          </div>
          <div class="panel-body chart" id="${name}">
            
          </div>
        </div>

</div>

<script src="/static/bower_components/dygraphs/dygraph-combined.js"></script>
<!-- <script src="/static/bower_components/dygraphs/extras/synchronizer.js"></script> -->
<script src="/static/js/charts.js"></script>
