$def with (sensors)

$var title: Sensor Charts

<h3>Sensor Charts</h3>

<div id="chart-container">

    $for name in sensors:
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">${name}</h3>
          </div>
          <div class="panel-body chart" id="${name}">
            
          </div>
        </div>

</div>

<script src="/static/bower_components/dygraphs/dygraph-combined.js"></script>
<script src="/static/js/charts.js"></script>
