$def with (sensors, renderChart)

$var title: Sensor Charts

<div class="page-header">
  <h1>Live SmartThings Sensor Values <small>and HTM anomaly scores</small></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>

  $if len(sensors) == 1:
      <li><a href="/sensors">Sensors</a></li>
      <li class="active">${sensors[0]}</li>
  $else:
      <li class="active">Charts</li>

</ol>

<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <h2 class="panel-title" id="top">About the Charts</h2>
            </div>
            <div class="col-md-2">

                $if len(sensors) > 1:
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Charts
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        $for name in sensors:
                            <li><a href="#${name}">${name}</a></li>
                      </ul>
                    </div>

            </div>

            <div class="col-md-2">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    # of Points
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><a href="?limit=100">100</a></li>
                      <li><a href="?limit=500">500</a></li>
                      <li><a href="?limit=1000">1000</a></li>
                      <li><a href="?limit=5000">5000</a></li>
                      <li><a href="?limit=10000">10000</a></li>
                      <li><a href="?limit=50000">50000</a></li>
                  </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="sinceDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Since
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="sinceDropDown" id="sinceDropDownList">
                  </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-body">
        <p>
            Anomaly values are plotted on the secondary Y axis on the right. Door open/close values are either <code>0</code> or <code>1</code>. I don't understand the acceleration data yet. Data is coming from a <a href="https://github.com/rhyolight/smartthings-apps/blob/master/http-poster.groovy">SmartThings app</a>. It is being send via HTTP to <a href="https://github.com/numenta/nupic">NuPIC</a> running behind a <a href="https://github.com/nupic-community/hitc">REST API</a>. Sensor values and HTM results are saved to a time-series database called <a href="https://docs.influxdata.com/influxdb/v0.9/concepts/key_concepts/">InfluxDB</a>.
        </p>
        <p>
            You can also use the URL query parameters to declare how many data points you want to show in the graph(s) below. Just add <code>?limit=X</code> to the URL, or use the dropdown in the panel header above.
        </p>
    </div>
</div>

<div id="chart-container">

    $for sensor in sensors:
      $:renderChart(sensor)

</div>
